.score-banner {
    z-index: 3;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    bottom: 0;
    padding: 2rem 4rem;
    left: 0;
    right: 0;
}

.score-wrapper {
    display: flex;
}

.left {
    flex: 1;
    color: #f5b93c;
    display: flex;
    justify-content: space-between;
}

.batting-team-details {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.team-name-and-score {
    display: flex;
    flex-direction: column;
}

.batting-team-logo {
    height: 75px;
    width: 75px;
    object-fit: cover;
    border-radius: 50%;
}

.team-name-and-overs {
    display: flex;
    gap: 4rem;
}

.team-name {
    font-size: 1.5rem;
}

.team-score-and-overs {
    display: flex;
    gap: 3rem;
}

.team-score {
    font-size: 2rem;
    font-weight: 700;
}

.striker-and-target {
    width: 50%;
}
.striker-border{
    border: 4px solid #f5b93c;
    box-shadow: 0 0 10px #f5b93c;

}
/* .striker {
    display: flex;
    justify-content: space-between;
    border: 4px solid #f5b93c;
    padding: 0.5rem;
    border-radius: 25px;
    box-shadow: 0 0 10px #f5b93c;
    color: white;
} */
.striker {
    display: flex;
    justify-content: space-between;
    border: 4px solid #f5b93c;
    padding: 0.5rem;
    border-radius: 25px;
    color: white;
}

.balls {
    margin-top: 6px;
    color: gray;
}

.target {
    margin: 0.5rem 0.5rem 0 0;
    text-align: right;
    font-size: 1.5rem;
}

.right {
    flex: 1;
    color: #0879e2;

    display: flex;
    justify-content: space-between;
}

.non-striker-and-target-numbers {
    width: 50%;
}

.non-striker {
    display: flex;
    justify-content: space-between;
    border: 4px solid rgb(42, 41, 41);
    padding: 0.5rem;
    border-radius: 25px;
    color: white;
}

.balls {
    margin-top: 6px;
    color: gray;
}

.target-score {
    margin: 0.5rem 0 0 0.5rem;
    text-align: left;
    font-size: 1.5rem;
}

.bowling-team-name {
    font-size: 1.5rem;
    color: #0879e2;
}

.bowler-name-and-details {
    display: flex;
    gap: 1rem;
}


.bowler-name {
    color: white;
}

.bowler-stats {
    color: #0879e2;
}

.over-stats {
    font-size: 0.8rem;
    color: #0879e2;
}

.bowling-team-name-and-details {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-left: 15%;
}

.bowling-team-logo {
    height: 75px;
    width: 75px;
    object-fit: cover;
    border-radius: 50%;
}

